# Churn Modelling Data Set Analysis Using ANN

## Data Preprocessing

In [1]:
# Part 1 - Data Preprocessing

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/matplotlib/font_manager.py:229: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [2]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [3]:
# Below Info Function will print detail information on the dataset that was imported in the previous step.
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

### The above Info function tells us that there are 14 columns and 10,000 rows. This dataset contains 13 independent variables and one dependent variable (“Exited” column). Now let’s separate dataset into X(independent variables) and y(dependent variable). In X we’ll keep from third column to 13th (since we don’t need “RowNumber”,”CustomerId” and “Exited”) and in y we only need “Exited” field.

In [4]:
# Splitting the Data Set into Dependent and Independent Variable.
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

#### Below step will be performed again after encoding the categorical variables. This is being done for the final submission file.

In [5]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### We have two categorical variables (“Country” and “Gender” variable) in our data. We need to encode them. I used labelencoder and onehotencoder of scikit-learn package to achieve this. Note that I removed a dummy variable of “Country” to avoid falling into dummy variable trap.

In [6]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

In [7]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature scaling is a method used to standardize the range of independent variables or features of data.

In [8]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Now our data is well preprocessed and now we will build the artificial neural network.

## Importing Tensorflow and Keras Library To Build ANN

### To start with building the ANN we will first import Tensorflow and Kreas Library.

In [9]:
# Part 2 - Now let's make the ANN!
import tensorflow as tf

### The sequential module is required to initialize the ann and dense module is required to add layers to it.

In [10]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

### Now we will initialize the deep learning model as a sequence of layers

In [11]:
# Initialising the ANN
classifier = Sequential()

### I have defined 6 units in the first hidden layer and used rectifying linear function(ReLu) as the activation function. And since input dimensions(no. of features) are 11 we will define input_dim=11.

In [12]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  from ipykernel import kernelapp as app

In [13]:
# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  from ipykernel import kernelapp as app

### Adding the output layer....It will have one output unit and we will use sigmoid function since it’s a binary classification.

In [14]:
# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  from ipykernel import kernelapp as app

In [15]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [16]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  from ipykernel import kernelapp as app

Epoch 1/100
8000/8000 [==============================] - 23s 3ms/step - loss: 0.4760 - acc: 0.7960
Epoch 2/100
8000/8000 [==============================] - 16s 2ms/step - loss: 0.4291 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 25s 3ms/step - loss: 0.4231 - acc: 0.7964
Epoch 4/100
8000/8000 [==============================] - 15s 2ms/step - loss: 0.4184 - acc: 0.8222
Epoch 5/100
8000/8000 [==============================] - 15s 2ms/step - loss: 0.4161 - acc: 0.8265
Epoch 6/100
8000/8000 [==============================] - 15s 2ms/step - loss: 0.4140 - acc: 0.8311
Epoch 7/100
8000/8000 [==============================] - 17s 2ms/step - loss: 0.4127 - acc: 0.8327
Epoch 8/100
8000/8000 [==============================] - 16s 2ms/step - loss: 0.4113 - acc: 0.8324
Epoch 9/100
8000/8000 [==============================] - 15s 2ms/step - loss: 0.4104 - acc: 0.8342
Epoch 10/100
8000/8000 [==============================] - 14s 2ms/step - loss: 0.4093 - acc: 0.8331
Epoch 11/100
8000/8000 [==============================] - 14s 2ms/step - loss: 0.4079 - acc: 0.8347
Epoch 12/100
8000/8000 [==============================] - 12s 1ms/step - loss: 0.4080 - acc: 0.8360
Epoch 13/100
8000/8000 [==============================] - 11s 1ms/step - loss: 0.4071 - acc: 0.8341
Epoch 14/100
8000/8000 [==============================] - 10s 1ms/step - loss: 0.4066 - acc: 0.8330: 1s
Epoch 15/100
8000/8000 [==============================] - 8s 1ms/step - loss: 0.4060 - acc: 0.8361A: 0s - loss: 0.4
Epoch 16/100
8000/8000 [==============================] - 8s 952us/step - loss: 0.4055 - acc: 0.8345
Epoch 17/100
8000/8000 [==============================] - 8s 992us/step - loss: 0.4055 - acc: 0.8340
Epoch 18/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4050 - acc: 0.8345
Epoch 19/100
8000/8000 [==============================] - 8s 943us/step - loss: 0.4041 - acc: 0.8352
Epoch 20/100
8000/8000 [==============================] - 8s 940us/step - loss: 0.4045 - acc: 0.8344
Epoch 21/100
8000/8000 [==============================] - 8s 1ms/step - loss: 0.4042 - acc: 0.8355
Epoch 22/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4037 - acc: 0.8365
Epoch 23/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4034 - acc: 0.8345
Epoch 24/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4037 - acc: 0.8340
Epoch 25/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4029 - acc: 0.8352
Epoch 26/100
8000/8000 [==============================] - 8s 1ms/step - loss: 0.4033 - acc: 0.8351
Epoch 27/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4030 - acc: 0.8357
Epoch 28/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4031 - acc: 0.8341
Epoch 29/100
8000/8000 [==============================] - 10s 1ms/step - loss: 0.4023 - acc: 0.8357
Epoch 30/100
8000/8000 [==============================] - 10s 1ms/step - loss: 0.4026 - acc: 0.8337
Epoch 31/100
8000/8000 [==============================] - 10s 1ms/step - loss: 0.4029 - acc: 0.8347
Epoch 32/100
8000/8000 [==============================] - 10s 1ms/step - loss: 0.4025 - acc: 0.8362
Epoch 33/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4018 - acc: 0.8366
Epoch 34/100
8000/8000 [==============================] - 6s 798us/step - loss: 0.4024 - acc: 0.8350
Epoch 35/100
8000/8000 [==============================] - 6s 787us/step - loss: 0.4021 - acc: 0.8350
Epoch 36/100
8000/8000 [==============================] - 6s 799us/step - loss: 0.4014 - acc: 0.8355
Epoch 37/100
8000/8000 [==============================] - 5s 641us/step - loss: 0.4013 - acc: 0.8344
Epoch 38/100
8000/8000 [==============================] - 6s 780us/step - loss: 0.4016 - acc: 0.8366 0s - loss: 0.4018 - acc: 0.8
Epoch 39/100
8000/8000 [==============================] - 7s 817us/step - loss: 0.4012 - acc: 0.8359
Epoch 40/100
8000/8000 [==============================] - 6s 785us/step - loss: 0.4015 - acc: 0.8360
Epoch 41/100
8000/8000 [==============================] - 6s 756us/step - loss: 0.4009 - acc: 0.8365
Epoch 42/100
8000/8000 [==============================] - 7s 820us/step - loss: 0.4010 - acc: 0.8349
Epoch 43/100
8000/8000 [==============================] - 6s 807us/step - loss: 0.4011 - acc: 0.8359
Epoch 44/100
8000/8000 [==============================] - 6s 741us/step - loss: 0.4009 - acc: 0.8357
Epoch 45/100
8000/8000 [==============================] - 6s 787us/step - loss: 0.4009 - acc: 0.8357
Epoch 46/100
8000/8000 [==============================] - 7s 825us/step - loss: 0.4009 - acc: 0.8351
Epoch 47/100
8000/8000 [==============================] - 6s 748us/step - loss: 0.4012 - acc: 0.8361
Epoch 48/100
8000/8000 [==============================] - 6s 695us/step - loss: 0.4009 - acc: 0.8345
Epoch 49/100
8000/8000 [==============================] - 6s 730us/step - loss: 0.4005 - acc: 0.8339
Epoch 50/100
8000/8000 [==============================] - 5s 672us/step - loss: 0.4008 - acc: 0.8360
Epoch 51/100
8000/8000 [==============================] - 6s 711us/step - loss: 0.4008 - acc: 0.8359
Epoch 52/100
8000/8000 [==============================] - 5s 654us/step - loss: 0.4005 - acc: 0.8366
Epoch 53/100
8000/8000 [==============================] - 5s 638us/step - loss: 0.4010 - acc: 0.8347
Epoch 54/100
8000/8000 [==============================] - 5s 645us/step - loss: 0.4003 - acc: 0.8366
Epoch 55/100
8000/8000 [==============================] - 5s 657us/step - loss: 0.4008 - acc: 0.8361
Epoch 56/100
8000/8000 [==============================] - 6s 692us/step - loss: 0.4004 - acc: 0.8360
Epoch 57/100
8000/8000 [==============================] - 5s 673us/step - loss: 0.4002 - acc: 0.8352
Epoch 58/100
8000/8000 [==============================] - 5s 591us/step - loss: 0.3997 - acc: 0.8364
Epoch 59/100
8000/8000 [==============================] - 5s 645us/step - loss: 0.4000 - acc: 0.8349
Epoch 60/100
8000/8000 [==============================] - 5s 626us/step - loss: 0.4000 - acc: 0.8346
Epoch 61/100
8000/8000 [==============================] - 6s 692us/step - loss: 0.3997 - acc: 0.8344
Epoch 62/100
8000/8000 [==============================] - 5s 630us/step - loss: 0.3998 - acc: 0.8375
Epoch 63/100
8000/8000 [==============================] - 6s 704us/step - loss: 0.3996 - acc: 0.8352
Epoch 64/100
8000/8000 [==============================] - 5s 614us/step - loss: 0.4004 - acc: 0.8351
Epoch 65/100
8000/8000 [==============================] - 5s 645us/step - loss: 0.3994 - acc: 0.8360
Epoch 66/100
8000/8000 [==============================] - 5s 653us/step - loss: 0.3994 - acc: 0.8361
Epoch 67/100
8000/8000 [==============================] - 6s 705us/step - loss: 0.3995 - acc: 0.8362
Epoch 68/100
8000/8000 [==============================] - 6s 709us/step - loss: 0.3995 - acc: 0.8355
Epoch 69/100
8000/8000 [==============================] - 5s 605us/step - loss: 0.3994 - acc: 0.8362
Epoch 70/100
8000/8000 [==============================] - 5s 624us/step - loss: 0.3995 - acc: 0.8364
Epoch 71/100
8000/8000 [==============================] - 5s 611us/step - loss: 0.3995 - acc: 0.8359
Epoch 72/100
8000/8000 [==============================] - 5s 639us/step - loss: 0.3989 - acc: 0.8357
Epoch 73/100
8000/8000 [==============================] - 5s 666us/step - loss: 0.3994 - acc: 0.8362
Epoch 74/100
8000/8000 [==============================] - 6s 696us/step - loss: 0.3992 - acc: 0.8355
Epoch 75/100
8000/8000 [==============================] - 5s 672us/step - loss: 0.3991 - acc: 0.8361
Epoch 76/100
8000/8000 [==============================] - 5s 637us/step - loss: 0.3991 - acc: 0.8376
Epoch 77/100
8000/8000 [==============================] - 5s 601us/step - loss: 0.3984 - acc: 0.8356
Epoch 78/100
8000/8000 [==============================] - 5s 665us/step - loss: 0.3992 - acc: 0.8360
Epoch 79/100
8000/8000 [==============================] - 6s 738us/step - loss: 0.3990 - acc: 0.8350
Epoch 80/100
8000/8000 [==============================] - 5s 650us/step - loss: 0.3990 - acc: 0.8364
Epoch 81/100
8000/8000 [==============================] - 5s 593us/step - loss: 0.3991 - acc: 0.8360
Epoch 82/100

8000/8000 [==============================] - 5s 647us/step - loss: 0.3986 - acc: 0.8367
Epoch 83/100
8000/8000 [==============================] - 5s 646us/step - loss: 0.3986 - acc: 0.8362
Epoch 84/100
8000/8000 [==============================] - 5s 644us/step - loss: 0.3988 - acc: 0.8360
Epoch 85/100
8000/8000 [==============================] - 5s 636us/step - loss: 0.3991 - acc: 0.8362
Epoch 86/100
8000/8000 [==============================] - 5s 674us/step - loss: 0.3988 - acc: 0.8355
Epoch 87/100
8000/8000 [==============================] - 5s 658us/step - loss: 0.3989 - acc: 0.8355
Epoch 88/100
8000/8000 [==============================] - 5s 652us/step - loss: 0.3987 - acc: 0.8351
Epoch 89/100
8000/8000 [==============================] - 5s 614us/step - loss: 0.3986 - acc: 0.8369
Epoch 90/100
8000/8000 [==============================] - 6s 726us/step - loss: 0.3987 - acc: 0.8361
Epoch 91/100
8000/8000 [==============================] - 5s 681us/step - loss: 0.3980 - acc: 0.8354
Epoch 92/100
8000/8000 [==============================] - 5s 643us/step - loss: 0.3982 - acc: 0.8360
Epoch 93/100
8000/8000 [==============================] - 5s 627us/step - loss: 0.3984 - acc: 0.8361
Epoch 94/100
8000/8000 [==============================] - 5s 657us/step - loss: 0.3980 - acc: 0.8366
Epoch 95/100
8000/8000 [==============================] - 5s 665us/step - loss: 0.3985 - acc: 0.8361
Epoch 96/100
8000/8000 [==============================] - 5s 649us/step - loss: 0.3988 - acc: 0.8362
Epoch 97/100
8000/8000 [==============================] - 5s 683us/step - loss: 0.3986 - acc: 0.8364
Epoch 98/100
8000/8000 [==============================] - 5s 647us/step - loss: 0.3982 - acc: 0.8377
Epoch 99/100
8000/8000 [==============================] - 5s 611us/step - loss: 0.3983 - acc: 0.8361
Epoch 100/100
8000/8000 [==============================] - 5s 633us/step - loss: 0.3984 - acc: 0.8351

In [17]:
# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [18]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [19]:
cm

array([[1541,   54],
       [ 255,  150]])

### Merging Test Data and Predicted Test Results. Writing the combined data set into CSV File.

In [24]:
df1 = pd.DataFrame(X1_test)
df2 = pd.DataFrame(y_pred)
submission = pd.concat([df1,df2],axis = 1)
submission.to_csv('submission.csv', index=False)
submission

        0        1       2   3   4        5  6  7  8        9      0
0     597  Germany  Female  35   8   131101  1  1  1   192853  False
1     523   France  Female  40   2   102967  1  1  0   128702  False
2     706    Spain  Female  42   8  95386.8  1  1  1  75732.2  False
3     788   France    Male  32   4   112080  1  0  0  89368.6  False
4     706  Germany    Male  38   5   163035  2  1  1   135662  False
5     670    Spain  Female  57   3   175576  2  1  0  99061.8   True
6     590    Spain    Male  34   0  65812.4  2  0  1   160346  False
7     636    Spain  Female  29   6   157576  2  1  1   101102  False
8     598   France  Female  64   9        0  1  0  1  13181.4  False
9     456   France  Female  63   1   165351  2  0  0   140758   True
10    498   France  Female  31  10        0  2  1  0  13892.6  False
11    714    Spain    Male  45   8   150900  2  0  1   139889  False
12    488  Germany  Female  33   4   140002  1  1  0   123614  False
13    562  Germany  Female  31   9   117153  1  1  1   108675  False
14    772  Germany  Female  51   9   143931  1  0  1  46675.5   True
15    667  Germany    Male  55   9   154393  1  1  1   137675  False
16    513   France  Female  43   9        0  2  1  0   152500  False
17    675    Spain    Male  66   5   115654  2  1  1   131971  False
18    622   France  Female  30   4   107879  1  0  1   196895  False
19    551   France  Female  45   6        0  2  1  1  51143.4  False
20    663  Germany    Male  42   7   115931  1  1  0  19862.8  False
21    850   France    Male  35   2        0  2  1  1  56991.7  False
22    552    Spain  Female  34   4        0  2  1  0   140287  False
23    444   France    Male  34   2   144319  1  1  0   112668  False
24    794   France    Male  35   6        0  2  1  1  68730.9  False
25    827    Spain    Male  46   1   183276  1  1  1  13460.3  False
26    590    Spain  Female  29   2   166931  2  1  0   122488  False
27    492  Germany  Female  30  10  77168.9  2  0  1   146700  False
28    498   France  Female  29   9        0  1  1  0   190036  False
29    757   France  Female  44   4   123322  1  1  0   137136  False
...   ...      ...     ...  ..  ..      ... .. .. ..      ...    ...
1970  640    Spain    Male  47   6  89047.1  1  1  0   116286  False
1971  624    Spain    Male  46   3        0  2  1  1    62825  False
1972  660  Germany    Male  28   1   118402  2  1  0  14288.9  False
1973  721    Spain    Male  38   7        0  1  0  1  53534.8  False
1974  803   France    Male  33   6        0  2  1  0   115677  False
1975  543   France  Female  71   1   104309  1  1  1    25650  False
1976  712    Spain    Male  47   1   139887  1  1  1  95719.7  False
1977  714   France    Male  34   5   141173  1  0  1  98896.1  False
1978  696   France    Male  27   4  87637.3  2  0  0   196111  False
1979  715   France    Male  28   7   160377  1  0  0   196853  False
1980  528    Spain    Male  43   7  97473.9  2  1  1   159823  False
1981  535   France  Female  49   3        0  1  0  0  61820.4   True
1982  522   France    Male  41   5   144148  1  1  1  14789.9  False
1983  528    Spain    Male  23   7   104745  1  1  0   170263  False
1984  575   France    Male  29   4   121823  2  1  1  50368.9  False
1985  629    Spain    Male  41  10   150149  1  0  0  6936.27  False
1986  525    Spain  Female  25  10        0  2  1  0  69361.9  False
1987  511   France    Male  27   8        0  2  1  1  49089.4  False
1988  699   France    Male  44   8   158698  1  1  0   107181  False
1989  583    Spain  Female  40   3  54428.4  1  1  0   109639  False
1990  494    Spain    Male  67   5        0  2  1  1  85890.2  False
1991  743   France  Female  30   1   127023  1  1  1   138781  False
1992  593   France    Male  36   2  70181.5  2  1  0  80608.1  False
1993  611   France    Male  28   2        0  2  0  0  25395.8  False
1994  439   France    Male  28   7   110976  2  1  0   138527  False
1995  625   France  Female  24   1        0  2  1  1   180970  False
1996  586   France  Female  35   7        0  2  1  0  70760.7  False
1997  578    Spain    Male  36   1   157268  2  1  0   141533  False
1998  650  Germany    Male  34   4   142393  1  1  1  11276.5  False
1999  573  Germany    Male  30   8   127406  1  1  0   192951  False

[2000 rows x 11 columns]